
ImageToASCII.py
/__pycache__
cd.py
requirements.txt
/MathFormulasVenv
requirementsPy3.12.txt
/MathFormulasC#
/.vscode
MathFormulasC#.sln
test.cpp
*.ico
icon.ico
/icons
*.gitignore
/C#MathFormulas/obj
/C#MathFormulas
/build
/dist
requestsTest.py
nahidaamika.jpg
Sway to My Beat in Cosmos.mp4
xd.mp4
