
ImageToASCII.py
/__pycache__
cd.py
requirements.txt
/MathFormulasVenv
requirementsPy3.12.txt
/MathFormulasC#/obj
/MathFormulasC#/MathFormulasC#.csproj
/.vscode
MathFormulasC#.sln
test.cpp
*.ico
icon.ico
